
<div class="root">
    <div class="board">
        <div class="board-wrapper">
            <div class="board-columns">
                <div cdkDropListOrientation="horizontal" class="board-columns">
                    <div cdkDragLockAxis="x" class="board-column"  *ngFor="let column of board.columns">
                        <div class="column-title" cdkDragHandle>
                            <h2>{{ column.title }}</h2>
                        </div>
                        
                        <div class="tasks-container" id="{{column.id}}" [cdkDropListConnectedTo]="idsArray" cdkDropList [cdkDropListData]="column.assignments" (cdkDropListDropped)="MoveAssignment($event, column.id)">
                            <div class="task" *ngFor="let item of column.assignments" cdkDrag>
                                <p>{{ item.title }}</p>
                            </div>
                            <div class="task">
                                <button mat-icon-button color="primary">
                                    New task
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- "Add new column" placeholder -->
                    <div cdkDragLockAxis="x" class="board-column" style="background-color: transparent !important;">
                        <div class="tasks-container">
                            <button mat-icon-button color="primary">
                                Add new column
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

