<!-- <p-fileUpload #form name="myfile[]" [customUpload]="true" accept="image/*" (uploadHandler)="uploadFile($event, form)"> -->
<p-fileUpload #form name="myfile[]" [customUpload]="true" accept="image/*" (uploadHandler)="beforeUploadDialog($event, form)">
    <ng-template pTemplate="content">
        <p-table *ngIf="uploadedFiles.length" [value]="uploadedFiles" >
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Filename
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-files >
                    <tr>
                        <td>
                            {{files.name}}
                        </td>
                        <td>
                            <button pTooltip="Show more" (click)="showDialog(files)" pButton icon="pi pi-ellipsis-h"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
    </ng-template>
    
</p-fileUpload>

<!-- Dialog for displaying file -->
<p-dialog header="{{displayedFile?.name}}" [(visible)]="display" [style]="{width: '80vw'}">
    <br>
    <p-image *ngIf="display" [src]='getSafeUrl(displayedFile.url)' [preview]="true" alt="Image"
        width="100" height="100%">
    </p-image>
    <p>{{displayedFile?.size}} Kb</p>
</p-dialog>

<!-- Dialog for adding name to file -->
<p-dialog header="Set name for file" [(visible)]="display2" [style]="{width: '80vw'}">
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="tempObj.name">
    </span>
    <br>
    <button pTooltip="Show more" (click)="uploadFile()" pButton icon="pi pi-check"></button>

</p-dialog>